.wrapper{
	margin-top: 5%;
	padding-top: 10px;
	min-height: 100%;
	overflow: auto;
}
.container {
	margin-top: 2%;
	padding-top: 5%;
	display: flex;
	align-items: center;
	flex-flow: column;
	object-fit: contain;
	padding-bottom: 100px;
	border-top: 1px solid #409fc1;
}
.button-wrapper{
	text-align: center;
}
.list-group-item{
	margin: 5px;
}
.remove-all{
	width: auto;
}