.container{
  padding-top: 15%;
  text-align: center;
  color: #ffffff;
  
}
.card-profile {
	border: 1px solid #409fc1;
	box-shadow: 0 0 12px 0.7rem  hsl(337, 7%, 20%);
	margin: 0px 10%;
}
.card-header{
	font-size: 17px;
	font-weight: 500;
	min-height: 48px;
	text-align: center;
}
.card-footer{
	text-align: right;
}
.btn-custom{
  background: #409fc1;
  border-color:#409fc1;
  color:#fff;
  font-size: 15px;
  font-weight: 600;
  min-height: 48px;
}
.btn-custom:focus,
.btn-custom:hover,
.btn-custom:active,
.btn-custom:active:focus{
  background:  hsl(337, 51%, 50%);
  border-color:  hsl(337, 51%, 50%);
  color:#fff;
}
.btn-custom:focus{
  box-shadow: 0 0 0 0.2rem  hsl(337, 51%, 50%);
}